.topPopular__main {
  text-align: center;
}
.topPopular__pic {
  height: 170px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  transition: all 1s ease-in-out;
  overflow: hidden;
  /* border: 2px solid lightgray; */
}
.topPopular__pic:hover {
  transform: scale(1.1);
}
.topPopular__Para1 {
  font-size: 14px;
}
.dark_topPopular__Para1 {
  font-size: 14px;
  color: white;
}
.topPopular__Para2 {
  font-size: 15px;
  color: #f5ac4c;
}
.topPopular__Para3 {
  font-size: 14px;
  color: gray;
}
.dark_topPopular__Para3 {
  font-size: 14px;
  color: white;
}
